body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #333;
  background-image: url('assets/img/linkedin-sales-navigator-0QvTyp0gH3A-unsplash.jpg');
  background-repeat: repeat-y;
  background-position: center top;
}
.opaque-background {
  padding: 3rem 6rem;
  background-color: #ffffff;
  opacity: 0.8;
}
h1, h2, h3, .lead {
  text-align: center;
}
span.indent {
  display: block;
  margin: 0 0 0 35px;
}
p {
  margin-bottom: 4px;
}
.lead small {
  font-weight: 300;
}
